@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/woff2/helvetica-neue-medium.woff2') format('woff2'),
    url('fonts/woff/helvetica-neue-medium.woff') format('woff'),
    url('fonts/ttf/helvetica-neue-medium.ttf') format('truetype'),
    url('fonts/otf/helvetica-neue-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
