.backgroundRed {
    background-color: red;
}

.container {
    align-items: center;
    display: flex;
    height: 30rem;
    justify-content: center;
    width: 64rem;
}

.test {
    overflow: hidden;
    position: relative;
}

.slider {
    align-items: center;
    display: flex;
    position: absolute;
    height: 100%;
    left: 0;
}

.sliderButtonNext {
    left: 0;
}

.sliderImage {
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    width: 64rem;
}

.total {
    position: absolute;
    bottom: 20%;
    right: 39.7rem;
    font-size: 2.912rem;
    color: white;
}

.logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
    width: 20rem;
}


